{% extends 'base.html' %}

{% block content %}

{% load humanize %}

{% if user.is_authenticated %}
{{ user }}

<h1>Current Portfolio</h1>

<table class="table table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Halal Category</th>
      <th scope="col">Company Name</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Market Cap</th>
      <th scope="col">YTD Change</th>
      <th scope="col">52 Week High</th>
      <th scope="col">52 Week Low</th>
      
    </tr>
  </thead>
  <tbody>
    
{% if ticker %}
  {% for item in ticker %}  
    {% for output_item in output %}
    	
    	{% if output_item.symbol == item|stringformat:'s'|upper %}
      <tr>
          {% for company in companies %}
            {% if output_item.symbol == company.Symbol %}
    		<th scope="row">{{ company.Halal_Category }}</th>
            {% endif %}
          {% endfor %}
    		<td>{{ output_item.companyName }}</td>
        <td>${{ output_item.latestPrice }}</td>
    		<td>${{ output_item.previousClose }}</td>
    		<td>${{ output_item.marketCap|intword }}</td>
    		<td>{{ output_item.ytdChange|floatformat:"3"|intcomma }}</td>
    		<td>{{ output_item.week52High }}</td>
    		<td>{{ output_item.week52Low }}</td>
    				
    	</tr>
      {% endif %}
  
    {% endfor %}
  {% endfor %}  
{% endif %}
    
  </tbody>
</table>
<br/>

<h2>Manage Stocks</h2>

<form action="{% url 'add_stock' %}" class="d-flex" role="search" method="POST" onsubmit="return alter()" autocomplete="off">
 		{% csrf_token %}
        <input class="form-control" type="text"  list= "companies" placeholder="look for Companies" aria-label="Search" 
        name="ticker" >
          <datalist id= "companies"> 
            {% for company in companies %}

              <option value="{{ company.Symbol }} {{ company.Company_Name }}"></option>

            {% endfor %}  

          </datalist>

        <button class="btn btn-outline-success" type="submit" value="{{ company.Symbol }}">Add</button>
</form>
<script>
function alter() 
{
ticker.value= ticker.value.split();
ticker.value=ticker.value[0];
  
}
</script>


<table class="table table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Ticker Symbol</th>
      <th scope="col">Delete Stocks</th>
      
    </tr>
  </thead>
  
  <tbody>
    
{% if ticker %}
    {% for item in ticker %}
    	<tr>
    	
    		<th scope="row">{{ item|stringformat:'s'|upper }}</th>
    		<td><a href="{% url 'delete' item.id %}"> Delete Stock <a/></td>
    				
    	</tr>

	{% endfor %}
{% endif %}

{% else %}
 <h1>You must be logged in!</h1>

{% endif %}
<br/>

{% endblock %}